<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>

    <body>
        <div ng-app="customApp" ng-controller="customController">
            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name: {{firstName + " " + lastName}}
        </div>

        <script>
            var app = angular.module("customApp", []);

            app.controller(
                "customController",
                function($scope) {
                    $scope.firstName = "John";
                    $scope.lastName = "Doe";
                }
            );
        </script>
    </body>
</html>
